<<<<<<< HEAD
<h1>About Us</h1>
<p>
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  is a project to make a book and screencasts to teach web development
  with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
  is the sample application for the tutorial.
</p>
=======
    <h1>À Propos de nous</h1>
    <p>
      <a href="http://railstutorial.org/">Le Tutoriel Ruby on Rails</a>
      est un projet de livre et de screencasts pour apprendre le développement web
      avec <a href="http://rubyonrails.org/">Ruby on Rails</a>. Ceci
      est l'Application Exemple du tutoriel.
    </p>
>>>>>>> 6b7303a29f7833570240228f4a7a19e16356c8b3
