<<<<<<< HEAD
<h1>Help</h1>
<p>
  Get help on Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
=======
<h1>Aide</h1>
<p>Obtenez de l'aide sur le Tutoriel Ruby on Rails sur la
  <a href="http://railstutorial.org/help">page d'aide du Tutoriel Rails</a>.
  Pour obtenir de l'aide sur cette Application Exemple, voyez le
  <a href="http://railstutorial.org/book">livre du Tutoriel Rails</p>
>>>>>>> 6b7303a29f7833570240228f4a7a19e16356c8b3
